  
language: java

sudo: required

services:
  - docker

env:
  ACTIVEMQ_VERSION: 5.14.3

install:
  - ./wait-for-it/wait-for-it.sh
  - ./run.sh
  - docker-compose -f ./travis-test-docker/docker-compose.yml up -d

script:
  - docker-compose build
  # - docker-compose up
  # - docker-compose run test
  
 
  
  
  

