  
language: java

sudo: required

services:
  - docker

env:
  ACTIVEMQ_VERSION: 5.14.3

  # install:
  #   - ./travis-test-docker/wait-for-it/wait-for-it.sh
  #   - ./travis-test-docker/wait-for-it/test.sh
  #   - ./travis-test-docker/ecc/run.sh
  #   - docker-compose -f ./travis-test-docker/docker-compose.yml up -d

script:
  - docker-compose build
  - ./travis-test-docker/wait-for-it/test.sh
  # - ./upload_script.sh
  - docker-compose up
# - bash ./travis-test-docker/wait-for-it/test.sh
# - test ./travis-test-docker/wait-for-it/test.sh 
#  - test ./travis-test-docker/wait-for-it/wait-for-it.sh
#  - docker-compose run test
after_success:
  - curl -k -request GET 'https://localhost:8450/about/version'


  
 
  
  
  

