  
language: java

sudo: required

services:
  - docker

env:
  ACTIVEMQ_VERSION: 5.14.3
  CAMEL_VERSION: 2.16.3
 

script:
  - env
  - if [ $# -gt 1 ] ; then
    echo "Too many arguments (max 1)!"
    exit 1
elif [ "$1" = "--help" ] || [ "$1" = "-h" ] ; then
    print_usage
    exit
else
fi
  
  

