  
language: java

sudo: required

services:
  - docker

env:
  ACTIVEMQ_VERSION: 5.14.3

install:
    - ./tests/load_test_configuration.sh
    - npm install
    - docker-compose -f ./tests/docker-compose.yml up -d
    - cd testCommands

script:
  - npm run coverage
  # - docker-compose build
  # - docker-compose up
  # - docker-compose run test
  
 
  
  
  

