  
language: java

sudo: required

services:
  - docker

env:
  ACTIVEMQ_VERSION: 5.14.3
  
 

script:
  - docker-compose build
  - docker-compose run execution_core_container_core
  - docker-compose run execution_core_container_bl
  
  

