language: java

# sudo: required

services:
  - docker

# env:
#   ACTIVEMQ_VERSION: 5.14.3
  # HOME: C://Users/travis
  
# dist: trusty

jdk:
  - oraclejdk8

# install:
  #   - ./travis-test-docker/wait-for-it/wait-for-it.sh
  #   - ./travis-test-docker/wait-for-it/test.sh
  #   - ./travis-test-docker/ecc/run.sh
  #   - docker-compose -f ./travis-test-docker/docker-compose.yml up -d
#  before_script:
#   - sudo apt-get install rake
#   - gem install bundler
#   - chmod +x ./test.sh
# jobs:
#   include:
# - stage: build
# before_script:
#   - docker-compose build 
#   - docker-compose up 
  # --build -d
  # - docker-compose up
# jobs:
# include:
#   - os: linux
#     arch: amd64
  #  - os: linux
  #    arch: arm64

script:
  # - sudo apt-get install libhsdis0-fcml
  # - sudo cp /usr/lib/jvm/java-8-openjdk-amd64/jre/lib/amd64/hsdis-amd64.so /usr/lib/jvm/java-8-jdk/jre/lib/amd64/hsdis-amd64.so
  # - docker-compose pull
  - sudo apt-get install libhsdis0-fcml
  - docker-compose build 
  - docker-compose up
  - curl -k -request GET 'https://10.40.202.170:8450/about/version'
  - docker-compose down
# - stage: test
# script: 
#   - ./test.sh
  # - test ./travis-test-docker/wait-for-it/test.sh
  # - ../travis-test-docker/wait-for-it/test.sh
  # - ./wait-for-it/test.sh
  # - ./upload_script.sh
  #  - test ./travis-test-docker/wait-for-it/wait-for-it.sh
  #  - docker-compose run test



  
 
  
  
  

