<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:amq="http://activemq.apache.org/schema/core"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:camel="http://camel.apache.org/schema/spring"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans 
http://www.springframework.org/schema/beans/spring-beans.xsd
           http://camel.apache.org/schema/spring 
http://camel.apache.org/schema/spring/camel-spring.xsd" >



	<!-- Needed to enable support vor environment variables -->
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"/>

	<camel:sslContextParameters id="mySSLContextParameters">           
       <camel:trustManagers>
			<camel:keyStore password="{{env:DATA_APP_SSL_CERT_PWD}}" resource="{{env:DATA_APP_SSL_CERT_FILE}}" />
        </camel:trustManagers>
        <camel:serverParameters clientAuthentication="NONE" />
	</camel:sslContextParameters>
	
	<camelContext xmlns="http://camel.apache.org/schema/spring">
	    <restConfiguration bindingMode="auto" component="restlet" port="9091" />

		<rest path="/say">
			<get uri="/hello">
				<to uri="direct:hello"/>
			</get>
		</rest>
        <route id="receiveMessageRoute">
            <from uri="activemq:queue:incoming" />
                <setHeader headerName="CamelHttpMethod">
                <constant>POST</constant> </setHeader>
			<log message="Sending...\n${body}"/>
            <to uri="http://execution_core_container_bl:8089/incoming-data-channel/message"/>
			<log message="Received...\n${body}"/>
        </route>
		<route id="sendMessageRoute">
            <from uri="activemq:queue:outcoming" />
                <setHeader headerName="CamelHttpMethod">
                <constant>POST</constant> </setHeader>
            <!--<to uri="https4://192.168.56.1:8083/incoming-data-app/dataAppIncomingMessageReceiver?sslContextParametersRef=mySSLContextParameters"/>-->
			<to uri="https4://{{env:DATA_APP_ENDPOINT}}?sslContextParametersRef=mySSLContextParameters"/>
        </route>
		<route>
			<from uri="direct:hello"/>
			<transform>
				<constant>Hello World</constant>
			</transform>
		</route>	
    </camelContext>
    <bean id="activemq" class="org.apache.activemq.camel.component.ActiveMQComponent">
        <property name="connectionFactory">
            <bean class="org.apache.activemq.ActiveMQConnectionFactory">
                <property name="brokerURL" value="tcp://0.0.0.0:61816"/>
            </bean>
        </property>
    </bean>
</beans>
