<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:amq="http://activemq.apache.org/schema/core"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
           http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring.xsd" >

	<!-- Needed to enable support vor environment variables -->
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"/>
	<camelContext xmlns="http://camel.apache.org/schema/spring">
        <route id="receiveMessageRoute">
            <from uri="activemq:queue:incoming" />
                <setHeader headerName="CamelHttpMethod">
                <constant>POST</constant> </setHeader>
            <to uri="http://10.40.202.200:8081/incoming-data-channel/message"/>
        </route>
		<route id="sendMessageRoute">
            <from uri="activemq:queue:outcoming" />
                <setHeader headerName="CamelHttpMethod">
                <constant>POST</constant> </setHeader>
            <to uri="http://10.40.202.200:8083/outcoming-data-channel/message"/>
        </route>
    </camelContext>
    <bean id="activemq" class="org.apache.activemq.camel.component.ActiveMQComponent">
        <property name="connectionFactory">
            <bean class="org.apache.activemq.ActiveMQConnectionFactory">
                <property name="brokerURL" value="tcp://0.0.0.0:61816"/>
            </bean>
        </property>
    </bean>
</beans>
